{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Patitas Felices{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">

</head>
<body>
    <nav>
        <div class="logo"><img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span class="highlight-pink">Felices</span></span>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul id="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>
            <li><a href="{% url 'carrito' %}"><i class="fas fa-shopping-cart"></i>Carrito </a></li>
            {% block carrito %}
            <li><a href="{% url 'carrito' %}"><i class="fas fa-shopping-cart"></i>Carrito <span class="cart-count">{{ productos|length }}</span></a></li>
             {% endblock %}
        </ul>
    </nav>

    <div class="contenido">
        {% block content %}{% endblock %}
    </div>
    <footer>
        <div class="footer-content">
            <div>
                <p>&copy; 2025 Patitas Felices. Todos los derechos reservados.</p>
            </div>
            <div>
                <p>Desarrollado por The coders</p>
            </div>
        </div>
    </footer>
    
    <script>
       function toggleMenu() {
           const menu = document.getElementById('menu');
           menu.classList.toggle('show');
        }
    </script>
</body>
</html>
