{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Patitas Felices{% endblock %}</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <div class="logo"><img src="../static/img/patita.png" alt="">Patitas Felices</div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul id="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>

        </ul>
    </nav>

    <div class="contenido">
        {% block content %}{% endblock %}
    </div>
    
    <script>
       function toggleMenu() {
           const menu = document.getElementById('menu');
           menu.classList.toggle('show');
        }
    </script>
</body>
</html>
