{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch:wght@700&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Playball&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <title>Patitas Felices - Home</title>
</head>
<body>
        <nav>
            <div class="logo"><img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span class="highlight-pink">Felices</span></span>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
            </ul>
        </nav>
    
        <div class="grid-container">
            <div class="item1">
               <h1><span class="highlight-grey">Bienvenido</span><span class="highlight-orange"> a Patitas</span> <span class="highlight-grey">Felices</span></h1>
                <p>Tu lugar de confianza para el cuidado de mascotas</p>
            </div>
        
            <div class="item2">
                <div class="imagen-fondo">
                <img src="../static/img/4.png" alt="">
                </div>
            </div>
        
            <div class="item3">
                <button onclick="window.location.href='{% url 'solicitar_turno' %}'">Pedir turno</button>
                
            </div>  
        </div>
<footer>
        <div class="footer-container">
          <div class="footer-left">
            <img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span
                class="highlight-pink">Felices</span></span>
            <p class="footer-dev">Desarrollado por The Coders</p>
          </div>
          <div class="footer-right">
            <a href="https://facebook.com" target="_blank">
              <img src="{% static 'img/facebook.svg' %}" alt="Facebook">
            </a>
            <a href="https://instagram.com" target="_blank">
              <img src="{% static 'img/instagram.svg' %}" alt="Instagram">
            </a>
            <a href="https://wa.me/5491123456789" target="_blank">
              <img src="{% static 'img/whatsap.svg' %}" alt="WhatsApp">
            </a>
          </div>
        </div>
</footer>

<script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            menu.classList.toggle('show');
        }
    </script>
</body>
</html>
