{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Patitas Felices - Home</title>
</head>
<body>
        <nav>
            <div class="logo"><img src="../static/img/patita.png" alt="">Patitas Felices</div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="menu">
                <li><a href="#">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
            </ul>
        </nav>
    
        <div class="grid-container">
            <div class="item1">
                <h1>Bienvenido a Patitas Felices</h1>
                <p>Tu lugar de confianza para el cuidado de mascotas.</p>
            </div>
            <div class="item2">
                <img src="../static/img/4.png" alt="">
                
            </div>
            <div class="item3">
                <button onclick="window.location.href='{% url 'login' %}'">Pedir turno</button>
                
            </div>  
        </div>

    <script>
        function toggleMenu() {
            const menu = document.getElementById('menu');
            menu.classList.toggle('show');
        }
    </script>
</body>
</html>
