
{% load static %}
{% block carrito %}{% endblock %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <nav>
        <div class="logo"><img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span 
            class="highlight-pink">Felices</span></span>
        </div>
        <div class="menu-toggle" onclick="toggleMenu()">☰</div>
        <ul id="menu">
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>
        </ul>
    </nav>
    
    <div class="nosotros-container">
        <div class="nosotros-img">
            <img src="{% static 'img/10.jpg' %}" alt="Nosotros">
        </div>
        <div class="nosotros-texto">
            <h2>“Cuidamos a tus mascotas como si fueran parte de nuestra familia.”</h2>
        </div>
    </div>
    <footer>
    <div class="footer-content">
        <div>
            <p>&copy; 2025 Patitas Felices. Todos los derechos reservados.</p>
        </div>
        <div>
            <p>Desarrollado por The coders</p>
        </div>
    </div>
</footer>
<script>
   function toggleMenu() {
       const menu = document.getElementById('menu');
       menu.classList.toggle('show');
    }
</script>
</body>
</html>
{% block content %}

<div class="nosotros-container">
    <div class="nosotros-img">
        <img src="{% static 'img/10.jpg' %}" alt="Nosotros">
    </div>
    <div class="nosotros-texto">
        <h2 class="highlight-grey" style="font-weight: bold;">“Cuidamos a tus mascotas como si fueran parte de nuestra familia.”</h2>
    </div>
</div>

{% endblock %}

