{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
      <nav>
            <div class="logo"><img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span class="highlight-pink">Felices</span></span>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="menu">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
            </ul>
        </nav>
    
    <!--<nav>
        <div class="logoLogins">
            <img src="{% static 'img/patita.png' %}" alt="Logo">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #FFFFFF;">Patitas Felices</a>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>
        </ul>
    </nav>-->

    <!-- Contenido principal -->
    <main class="container">
            <div class="nosotros1">
                <div class="content1">
                    <img src="{% static 'img/consultorio_vet.jpg' %}" alt="Consultorio">
                    <div class="text1">
                        <p>Brindamos atención veterinaria profesional, cálida y comprometida. Cuidamos la salud de tu mascota con experiencia, empatía y dedicación. Desde la prevención hasta tratamientos complejos, acompañamos cada etapa de su vida. </p>
                    </div>
                </div>
            </div>
            <div class="nosotros1">
                <div class="content1">
                    <div class="text1">
                        <p>La cirugía veterinaria es un acto de cuidado y compromiso con la salud de tu mascota. Nuestro equipo realiza procedimientos con profesionalismo, tecnología moderna y cariño, garantizando seguridad y recuperación.</p>
                    </div>
                    <img src="{% static 'img/cirugia.jpg' %}" alt="Consultorio">
                </div>
            </div>
            <div class="nosotros1">
            <div class="content1">
                <img src="{% static 'img/peluqueria.jpg' %}" alt="Consultorio">
                <div class="text1">
                    <p>La peluquería veterinaria no es solo estética, es salud y bienestar. Baños, cortes y tratamientos especiales ayudan a prevenir infecciones, parásitos y problemas en la piel.</p>
                </div>
            </div>
            </div>
            <div class="nosotros1">
                <div class="content1">
                    <div class="text1">
                        <p>La vacunación es clave para proteger la salud de tu mascota y prevenir enfermedades graves. En nuestra veterinaria aplicamos vacunas seguras y actualizadas, adaptadas a cada etapa de su vida.</p>
                    </div>
                    <img src="{% static 'img/vacunacion.jpg' %}" alt="Consultorio">
                </div>
            </div>
    </main>
    <footer>
        <div class="footer-container">
          <div class="footer-left">
            <img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span class="highlight-pink">Felices</span></span>
            <p class="footer-dev">Desarrollado por The Coders</p>
          </div>
          <div class="footer-right">
            <a href="https://facebook.com" target="_blank">
              <img src="{% static 'img/facebook.svg' %}" alt="Facebook">
            </a>
            <a href="https://instagram.com" target="_blank">
              <img src="{% static 'img/instagram.svg' %}" alt="Instagram">
            </a>
            <a href="https://wa.me/5491123456789" target="_blank">
              <img src="{% static 'img/whatsap.svg' %}" alt="WhatsApp">
            </a>
          </div>
        </div>
    </footer>

    
    
    
    
    
    
    
    
    
    <script>
    function toggleMenu() {
        const menu = document.getElementById('menu');
        menu.classList.toggle('show');
    }
</script>
</body>
</html>
