{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Servicios</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
      <nav>
            <div class="logo"><img src="../static/img/patita.png" alt=""><span class="highlight-grey">Patitas <span class="highlight-pink">Felices</span></span>
            </div>
            <div class="menu-toggle" onclick="toggleMenu()">☰</div>
            <ul id="menu">
                <li><a href="{% url 'home' %}">Inicio</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'contacto' %}">Contacto</a></li>
                <li><a href="{% url 'tienda' %}">Tienda</a></li>
            </ul>
        </nav>
    
    <!--<nav>
        <div class="logoLogins">
            <img src="{% static 'img/patita.png' %}" alt="Logo">
            <a href="{% url 'home' %}" style="text-decoration: none; color: #FFFFFF;">Patitas Felices</a>
        </div>
        <ul>
            <li><a href="{% url 'home' %}">Inicio</a></li>
            <li><a href="{% url 'servicios' %}">Servicios</a></li>
            <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
            <li><a href="{% url 'contacto' %}">Contacto</a></li>
            <li><a href="{% url 'tienda' %}">Tienda</a></li>
        </ul>
    </nav>-->

    <!-- Contenido principal -->
    <main class="container">
        <div class="card1">
            <div class="nosotros1">
                <div class="content1">
                    <h2 class="cons">Consultorio</h2>
                    <img src="{% static 'img/consultorio_vet.jpg' %}" alt="Consultorio">
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="nosotros1">
                <div class="content1">
                    <h2 class="vac">Vacunación</h2>
                    <img src="{% static 'img/vacunacion.jpg' %}" alt="Vacunación">
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="nosotros1">
                <div class="content1">
                    <h2 class="pelu">Peluquería</h2>
                    <img src="{% static 'img/peluqueria.jpg' %}" alt="Peluquería">
                </div>
            </div>
        </div>
        <div class="card1">
            <div class="nosotros1">
                <div class="content1">
                    <h2 class="cir">Cirugía</h2>
                    <img src="{% static 'img/cirugia.jpg' %}" alt="Cirugía">
                </div>
            </div>
        </div>
    </main>
</body>
</html>
