{% extends "base.html" %}
{% load static %}

<h1>Productos</h1>
<main class="contenido">
{% block content %}

<form method="get" action="{% url 'tienda' %}">
    <input type="text" name="q" placeholder="Buscar productos..." value="{{ request.GET.q }}">
    <button type="submit">Buscar</button>
</form>

  {% for producto in productos %}
    <div class="card">
        <div class="producto">
            <h2>{{ producto.nombre }}</h2>
            <img src="{{ producto.imagen.url }}" alt="{{ producto.nombre }}">
            <p>{{ producto.descripcion }}</p>
            <p>Precio: ${{ producto.precio }}</p>
            <button>Comprar</button>
        </div>
    </div>
    {% endfor %}

{% endblock %}
</main>





















































































































































































































































































































































